<!DOCTYPE html>
<html lang="en" data-ng-app="Divine">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="app/img/logo_whiteonblack.png"/>
    <meta name="description" content="{{app.description}}">
    <title data-ng-bind="pageTitle()">Divine</title>
    <link rel="stylesheet" href="app/css/app.css">
    <link rel="stylesheet" href="app/css/theme-f.css">
    <link rel="stylesheet" href="app/custom/css/custom-style.css">
    <link rel="stylesheet" href="vendor/graphs/css/angular-chart.css">
    <link rel="stylesheet" href="vendor/graphs/css/c3.css">
    <link rel="stylesheet" href="vendor/angular-grid/css/ng-grid.css">
    <link rel="stylesheet" href="vendor/datatable-bootstrap/css/dataTables.bootstrap.css">
</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat}">
<div data-ui-view="" data-autoscroll="false" class="wrapper"></div>
<script src="app/js/base.js"></script>

<script src="vendor/angular-google-maps/angular-google-maps.min.js"></script>
<script src="vendor/angular-google-maps/lodash.min.js"></script>
<script src="vendor/graphs/js/Chart.js" type="text/javascript"></script>
<script src="vendor/graphs/js/angular-chart.js" type="text/javascript"></script>
<script src="vendor/graphs/js/fusioncharts.js" type="text/javascript"></script>
<script src="vendor/jstz/jstz.js" type="text/javascript"></script>
<script src="vendor/jstz/jstz.min.js" type="text/javascript"></script>
<script src="vendor/graphs/js/angular-fusioncharts.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js" type="text/javascript"></script>
<script src="//cdn.jsdelivr.net/alasql/0.1/alasql.min.js"></script>
<script src="app/js/app.js"></script>
<script src="app/js/myApp.js"></script>
<script src="vendor/angular-grid/js/ng-grid.debug.js" type="text/javascript"></script>
<!--<script src="app/js/controllers/notifications-ctrl.js"></script>-->
<script src="app/js/controllers/login-ctrl.js"></script>
<script src="app/js/controllers/dashboard-ctrl.js"></script>
<script src="app/js/controllers/dashboard-new.js"></script>
<script src="app/js/controllers/customer-ctrl.js"></script>
<script src="app/js/controllers/artist-ctrl.js"></script>
<script src="app/js/controllers/verified_artist-ctr.js"></script>
<!--<script src="app/js/controllers/edit-artist-ctrl.js"></script>-->
<!--<script src="app/js/controllers/add-session-ctrl.js"></script>-->
<script src="app/js/controllers/session-ctrl.js"></script>
<script src="app/js/controllers/tip_report-ctrl.js"></script>


<script src="vendor/angular-img-crop.js"></script>

<script src="vendor/canvas-to-blob.js"></script>
<!--- Stripe Scripts -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="app/custom/angular-payments/lib/angular-payments.min.js"></script>
<script src="vendor/datatable-bootstrap/js/dataTables.bootstrap.js"></script>
<!--- Date Time Picker Files -->
<link rel="stylesheet" href="app/custom/datetimepicker/jquery.datetimepicker.css">
<script src="app/custom/datetimepicker/jquery.datetimepicker.js"></script>
<script src="app/custom/js/alasql.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
</body>

</html>