/* Custom CSS */

@font-face {
    font-family: Raleways;
    src: url(../fonts/Raleway-Light.ttf);
    /*src: url(../fonts/Raleway-Regular.ttf);*/
}

body {
    font-family: Raleways;
}

/* Base Project Custom CSS */
.img-logo {
    width: auto;
    max-height: 35px;
}

.pull-ext {
    margin-bottom: 4px;
}

.disabled {
    color: #fff !important;
}

.link_color {
    color: #656565 !important;
}

.table-hover > tbody > tr:hover td > a {
    color: rgb(94, 100, 126) !important;
    text-decoration: none;
}

.del-dialog {
    font-size: 20px;
    margin-bottom: 10px;
}

.ngdialog {
    padding-top: 60px !important;
}

/*Advance map styles*/

.angular-google-map-container {
    width: 100%;
    height: 500px;
}

.inline-block {
    display: inline-block;
}

.panel_login {
    background-color: #000;
    color: #fff;
    margin-top: 100px !important;
}

/*--------------------*/
/* Common CSS Classes */

/* Navbar Style */

.nav_div {
    padding: 0px !important;
    color: #fff;
}

.nav_head {
    margin-top: 15px;
    padding-left: 10px;
}

.sidebar .nav > li.active, .sidebar .nav > li.open, .sidebar .nav > li.active > a, .sidebar .nav > li.open > a, .sidebar .nav > li.active .nav, .sidebar .nav > li.open .nav {
    background-color: #FFF;
    color: #3A3F51;
}

.sidebar .nav > li.active > a > em, .sidebar .nav > li.open > a > em {
    color: #3A3F51;
}

.sidebar .nav > li.active > ul > li > a > span {
    color: #777777;
}

.sidebar .nav > li.active > ul > li.active > a > span {
    color: #3A3F51 !important;
}

/*  CUSTOM HEADER CSS START */

.content-wrapper > span > h3,
.content-wrapper > .content-heading {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 21px;
    margin-bottom: 10.5px;
    font-size: 24px;
    color: #929292;
    margin: -15px;
    margin-bottom: 20px;
    padding: 15px;
    font-weight: normal;
    background-color: #fafbfc;
    border-bottom: 1px solid #cfdbe2;
}

.content-wrapper > span > h3 small,
.content-wrapper > .content-heading small,
.content-wrapper > span > h3 .small,
.content-wrapper > .content-heading .small {
    font-weight: normal;
    line-height: 1;
    color: #3a3f51;
}

.content-wrapper > span > h3 small,
.content-wrapper > .content-heading small,
.content-wrapper > span > h3 .small,
.content-wrapper > .content-heading .small {
    font-size: 65%;
}

.content-wrapper > span > h3 > small,
.content-wrapper > .content-heading > small {
    display: block;
    font-size: 12px;
    color: #909fa7;
}

@media only screen and (min-width: 768px) {

    .content-wrapper > span > h3,
    .content-wrapper > .content-heading {
        margin: -20px;
        margin-bottom: 20px;
        padding: 20px;
    }

}

.content-wrapper > span > h3 > span > small {
    display: block;
    font-size: 12px;
    color: #909fa7;
}

/* CUSTOM HEADER CSS END */

.clear {
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

.padding_right {
    padding-right: 0px;
}

.padding_left {
    padding-left: 0px;
}

.center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.hide-scroll {
    overflow: hidden !important;
}

.set-calender-scroll {
    overflow: inherit !important;
}

.image_radius {
    border-radius: 35px;
}

.no_data {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: lighter;
}

.btn-primary {
    background-color: #FFF;
    border-color: #FFF;
    color: #000;
}

.btn-head {
    background-color: #FAFBFC;
    border-color: #FAC9D3;
    color: #5E657E;
}

.margin-input {
    margin-bottom: 15px !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary,
.btn-head:hover, .btn-head:focus, .btn-head.focus, .btn-head:active, .btn-head.active, .open > .dropdown-toggle.btn-head {
    background-color: #C5C5C5;
    border-color: #FFFFFF;
    webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 6px 5px rgba(0, 0, 0, 0.125);
    color: #000;
}

/* Search & Count Select Box CSS */
.pick_count_div {
    width: 100px !important;
    float: left;
}

.search_div {
    width: 200px !important;
    float: right;
}

/* Sidebar User Details CSS */
.user-block {
    position: relative;
    padding: 25px 30px 0;
    cursor: pointer;
}

.user-block > .user-block-picture {
    position: relative;
    width: 60px;
    margin: 0 auto;
}

.user-block .user-block-info {
    padding-top: 15px;
    text-align: center;
}

/* Tables */

td {
    word-break: break-all;
    /*font-weight: lighter;*/
}

.panel-body {
    /*overflow: auto;*/
}

/* Add Menu */

.add-form {
    padding: 15px;
}

.img_add_meal {
    /* width: 242px; */
    width: 150px;
    height: 150px;
    border-radius: 80px;
}

.check_category {
    float: left;
}

.label-category {
    font-weight: normal;
    margin-left: 20px;
    font-size: 13px;
}

/* Promo Codes */

.disabled-color {
    background-color: #fff !important;
}

.label-promo {
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 0px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover,
.pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #000;
    border-color: #000;
    cursor: default;
}

/* Banner CSS*/
.banner-image-div {
    text-align: center;
    margin-top: 10px;
}

.banner-image {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

/* Driver View */
.driver_info_img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.no_driver {
    padding: 15px;
}

.driver-list {
    max-height: 650px;
    overflow: auto;
}

/* Customer Info CSS */
.image_customer {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 30px;
}

.customer_details_div {
    padding: 20px;
}

.customer_details {
    padding: 15px;
    font-weight: 300;
}

.cust-name {
    font-size: 22px;
    margin-bottom: 5px;
}

.cust-email {
    margin-bottom: 4px;
}

/* Dashboard */

.txt_color {
    color: #fff !important;
}

.widget-time {
    padding: 5px;
    border: 1px solid #f05050;
}

.text-widget-box {
    color: #37bc9b;
}

.revenue_bg {
    background: #fff;
    color: #8BB8F1;
}

.service_bg {
    background: #fff;
    color: #9289CA;
}

.scheduled_bg {
    background: #fff;
    color: #58CEB1;
}

/* Add Session */
.form-wizard > ol > li.active {
    /*background-color: #858BA5;*/
    background-color: #3A3F51;
}

.wizard_color > a {
    color: #3A3F51;
}

.gender {
    width: 85px;
    float: left;
}

.radio + .radio, .checkbox + .checkbox {
    margin-top: 10px;
}

.next_btn {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    /*float: right;*/
    color: #3A3F51;
    text-decoration: none;
    margin-left: 10px;
}

.btn_all {
    float: right;
}

.faq_panel {
    margin-top: 20px;
}

.doc {
    margin-bottom: 10px;
}

.parsley-errors-list > li {
    font-size: 12px;
    list-style: none;
    color: #000;
}

.parsley-error {
    border-color: #848181 !important;
}

.c-checkbox input[type=checkbox]:checked + span, .c-radio input[type=checkbox]:checked + span, .c-checkbox input[type=radio]:checked + span, .c-radio input[type=radio]:checked + span {
    border-color: #FFFFFF;
    background-color: #000000;
}

.logo-main {
    width: 162px;
    margin: 0px;
    padding: 0px;
}

.nav-login {
    width: 100%;
    height: 100px;
    background-color: #000000;
}

.mt1 {
    margin-top: 0px !important;
}

.mt0 {
    color: #656565 !important;
}

.ng-isolate-scope > ul > li {
    display: none;
}


footer.ng-scope
{
    position: relative;
    margin-top: 11%;


}

.doc input
{
    width:185px;
}