<span ng-controller="ArtistsInfoController">
<h3>Driver Info
    <small>Get driver information</small>
</h3>
<img ng-controller="CustomerInfoController" class="container-fluid">

    <!--<div class="row">-->
        <!--<div class="col-lg-12">-->
            <!--<div class="panel panel-default customer_details_div" ng-class="{'whirl line grow' : loading_image }">-->
                <img class="image_customer left" src="{{driver.image }}">

                <div class="customer_details left">
                    <p class="mb-sm" >{{driver.name || 'Driver'}}</p>
                    <ul class="list-unstyled">
                        <li class="mb-sm">
                            <em class="fa fa-envelope fa-fw"></em>{{driver.email || 'Driver Email'}}
                        </li>
                        <li class="mb-sm">
                            <em class="fa fa-phone fa-fw"></em>{{driver.phone || '(99999)-999-999'}}
                        </li>
                    </ul>
                </div>




    <!-- START DATATABLE 2 -->
    <div class="row" ng-show="show" ng-class="{'whirl standard' : loading }">
        <div class="col-lg-12" >
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="datatable2" class="table table-striped table-hover" style="width: 100%;">
                        <thead>
                        <tr>
                            <th style="width:5px">Serial Number</th>
                            <th style="width:5px">Order Id</th>
                            <th style="width:80px">Date </th>
                            <th style="width:150px; ">Review</th>
                            <th style="width:80px; ">Service Type</th>
                            <th style="width:36px">Rating</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in list">

                            <td>{{$index + 1}}</td>
                            <td>{{data.OrderId}}</td>
                            <td>{{data.dateRated | date}}</td>
                            <td>{{data.review}}</td>
                            <td>{{data.serviceType}}</td>
                            <td>
                            <!--{{data.rating}}-->
                            <rating ng-model="data.rating" max="5" readonly="true"
                            state-on="'fa fa-star text-yellow'"
                            state-off="'fa fa-star-o'"></rating>
                            <span ng-class="{'label-warning': percent&lt;30, 'label-info': percent&gt;=30 &amp;&amp; percent&lt;70, 'label-success': percent&gt;=70}"
                            ng-show="overStar &amp;&amp; !true" class="label">{{percent}}%</span>
                            <p></p>
                            </td>

                        </tr>
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->
    <din ng-show="show_no_trips" >
        <div class="col-lg-12">
            <div class="table-responsive">
                <center><h3 style="color:grey"> NO Ratings Yet!</h3></center>
            </div>
        </div>
    </din>

    </div>
    </span>