<span ng-controller="tip_reportController">

<h3>Tip Report
    <small>Get all tip report</small>
</h3>
    <div class="row">
    <!--from date---------------------------------------------------------------------------------------------->
    <div class="form-group">
    <div class="col-lg-4 padding-left" style="margin-top:14px; margin-bottom: 14px;">
    <p class="input-group">
    <input placeholder="From" type="text" datepicker-popup="{{format}}" ng-model="x.startTime"
    is-open="opened" style="background-color: #fff;cursor: pointer;" min-date="minDate"
    max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
    ng-required="true" close-text="Close" class="form-control" readonly/>
    <span class="input-group-btn">
    <button type="button" ng-click="open($event)" class="btn btn-default">
    <em class="fa fa-calendar"></em>
    </button>
    </span>
    </p>
    </div>
    </div>
    <!--to date--------------------------------------------------------------------------------------------------->

    <div class="form-group">
    <div class="col-lg-4 padding-left" >
    <p class="input-group">
    <input placeholder="To" type="text" datepicker-popup="{{format}}" ng-model="x.endTime"
    is-open="opened1" style="background-color: #fff;cursor: pointer;" min-date="minDate"
    max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
    ng-required="true" close-text="Close" class="form-control" readonly/>
    <span class="input-group-btn">
    <button type="button" ng-click="open1($event)" class="btn btn-default">
    <em class="fa fa-calendar"></em>
    </button>
    </span>
    </p>
    </div>
    <div>
    <button ng-click="create_report()">Get Report</button>
    </div>
        </div>

</div>
<div class="container-fluid">

    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" ng-class="{'whirl standard' : loading }">
                <div class="table-responsive">
                    <table id="datatable8" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <!--<th style="min-width: 10px;text-align:center">Sr no.</th>-->
                            <!--<th style="min-width: 100px;text-align:center">Driver Name</th>-->
                            <!--<th style="min-width: 150px;text-align:center">Driver Email</th>-->
                            <!--<th style="min-width: 20px;text-align:center">Total Tip</th>-->
                            <!--<th style="min-width: 20px;text-align:center">No. of orders completed</th>-->
                            <th>Sr no.</th>
                            <th>Driver Name</th>
                            <th>Driver Email</th>
                            <th>Total Tip</th>
                            <th>No. of orders completed</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in list">

                            <td><a class="link_color">{{$index + 1}}</a></td>
                            <td><a class="link_color">{{data.driverName}}</a></td>
                            <td><a class="link_color" >{{data.email}}</a>
                            <td><a class="link_color" >{{data.totalTip}}</a>
                            <td><a class="link_color" >{{data.totalOrderCompleted}}</a>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->

</div>
    </span>

<script type="text/ng-template" id="no_data">
    <p>No data for the selected period</p>
</script>