<span ng-controller="VerifiedController">
<h3>Verified Drivers
    <small>Get all verified drivers</small>
</h3>


    </div>

        <div class="container-fluid">

            <!-- START DATATABLE 2 -->
            <div ng-class="{'whirl standard' : loading }">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="table-responsive">
                                <div class="dataTables_wrapper form-inline">
                                    <div class="row">
                                        <div class="col-xs-6" ng-show="pageLoaded">
                                            <label>
                                                <select class="form-control input-sm" ng-model="page_length"
                                                        ng-change="getCustomerList(1)">
                                                    <option ng-repeat="option in options" value={{option}}>{{option}}
                                                    </option>
                                                </select>
                                            </label>
                                        </div>
                                        <div class="col-xs-6" ng-show="searchPaging">
                                            <label>
                                                <select class="form-control input-sm" ng-model="page_length"
                                                        ng-change="searchResults(0,page_length,1)">
                                                    <option ng-repeat="option in options" value={{option}}>{{option}}
                                                    </option>
                                                </select>
                                            </label>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="dataTables_filter">
                                                <label>
                                                    Search all columns:
                                                    <input type="search" class="form-control input-sm"
                                                           ng-model="search"/>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="datatable2" class="table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>Serial Number</th>
                                            <th>Driver ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email ID</th>
                                            <th>Phone No.</th>
                                            <th>Registration Date</th>
                                            <th>Total Trips</th>


                                            <th style="width: 105px;">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="data in list">
                                            <td style="width: 55px !important"><a class="link_color" ui-sref="app.artistInfo({id: data.id})">{{data.index}}</a></td>

                                            <td style="width:120px"><a class="link_color" ui-sref="app.artistInfo({id: data.id})">{{data.id}}</a></td>
                                            <td><a class="link_color" ui-sref="app.artistInfo({id: data.id})">{{data.firstName}}</a></td>
                                            <td><a class="link_color" ui-sref="app.artistInfo({id: data.id})">{{data.lastName}}</a></td>
                                            <td><a class="link_color" ui-sref="app.artistInfo({id: data.id})">{{data.email}}</a></td>
                                            <td><a class="link_color" ui-sref="app.artistInfo({id: data.id})">{{data.phoneNumber}}</a></td>
                                            <td width="170px !important"><a class="link_color" ui-sref="app.artistInfo({id: data.id})">{{data.registrationDate}}</a></td>
                                            <td style="width:30px"><a class="link_color" ui-sref="app.artistInfo({id: data.id})">{{data.totalTrips}}</a></td>


                                            <td>
                                                <div>
                                                    <div>
                                                        <button ng-show="data.is_block"
                                                                ng-click="changeStatus(0,data.id)"
                                                                title="Unblock"
                                                                class="btn btn-sm btn-success pull-ext"
                                                                style="width: 30px;">
                                                            <em class="fa fa-lock"></em>
                                                        </button>
                                                        <button ng-show="!data.is_block"
                                                                ng-click="changeStatus(1,data.id)"
                                                                title="Block"
                                                                class="btn btn-sm btn-success pull-ext">
                                                            <em class="fa fa-unlock"></em>
                                                        </button>
                                                    </div>


                                                    <div>
                                                        <button ng-click="deleteArtist(data.id)" title="Delete"
                                                                class="btn btn-sm btn-danger pull-ext">
                                                            <em class="fa fa-trash-o"></em>
                                                        </button>
                                                    </div>

                                                    <div ng-switch="data.isEdited">
                                                        <button ng-click="Artist(data)" title="Edit"
                                                                class="btn btn-sm btn-danger pull-ext">
                                                            <em class="fa fa-pencil-square-o"></em>
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <!-- Pagination -->

                                    <div class="row" ng-show="pageLoaded">
                                        <div class="col-xs-6 pull-right">
                                            <div class="dataTables_paginate paging_simple_numbers">
                                                <ul class="pagination">
                                                    <li id="datatable2_previous" class="paginate_button previous"
                                                        ng-class="{'disabled': page_no == 1}">
                                                        <a ng-click="getCustomerList(page_no-1)">Previous</a>
                                                    </li>
                                                    <!--First Button-->
                                                    <li class="pagination_button" ng-class="{'active': page_no == 1}">
                                                        <a ng-click="getCustomerList(1)">1</a>
                                                    </li>

                                                    <!--Disabled Button-->
                                                    <li class="pagination_button disabled"
                                                        ng-if="pages[0]!=2 && total_pages>3">
                                                        <a href="#">...</a>
                                                    </li>

                                                    <!-- Display button list -->
                                                    <li class="paginate_button" ng-repeat="page in pages"
                                                        ng-class="{'active': page == page_no}">
                                                        <a ng-click="getCustomerList(page)">{{page}}</a>
                                                    </li>

                                                    <!--Disabled Button-->
                                                    <li class="pagination_button disabled"
                                                        ng-if="pages[pages.length-1]!=total_pages-1 && total_pages>3">
                                                        <a href="#">...</a>
                                                    </li>
                                                    <!--Last Button-->
                                                    <li class="pagination_button" ng-if="total_pages>1"
                                                        ng-class="{'active': page_no == total_pages}">
                                                        <a ng-click="getCustomerList(total_pages)">{{total_pages}}</a>
                                                    </li>
                                                    <li id="datatable2_next" class="paginate_button next"
                                                        ng-class="{'disabled': page_no == total_pages}">
                                                        <a ng-click="getCustomerList(page_no+1)">Next</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Search Paging-->
                                    <div class="row" ng-show="searchPaging">
                                        <div class="col-xs-6 pull-right">
                                            <div class="dataTables_paginate paging_simple_numbers">
                                                <ul class="pagination">
                                                    <li id="datatable2_previous" class="paginate_button previous"
                                                        ng-class="{'disabled': page_no == 1}">
                                                        <a ng-click="searchResults(page_length*(page_no-2), page_length*(page_no-1), page_no-1)">Previous</a>
                                                    </li>
                                                    <!--First Button-->
                                                    <li class="pagination_button" ng-class="{'active': page_no == 1}">
                                                        <a ng-click="searchResults(0,page_length, 1)">1</a>
                                                    </li>

                                                    <!--Disabled Button-->
                                                    <li class="pagination_button disabled"
                                                        ng-if="pages[0]!=2 && total_pages>3">
                                                        <a href="#">...</a>
                                                    </li>

                                                    <!-- Display button list -->
                                                    <li class="paginate_button" ng-repeat="page in pages"
                                                        ng-class="{'active': page == page_no}">
                                                        <a ng-click="searchResults(page_length*(page-1), page*page_length, page)">{{page}}</a>
                                                    </li>

                                                    <!--Disabled Button-->
                                                    <li class="pagination_button disabled"
                                                        ng-if="pages[pages.length-1]!=total_pages-1 && total_pages>3">
                                                        <a href="#">...</a>
                                                    </li>
                                                    <!--Last Button-->
                                                    <li class="pagination_button" ng-if="total_pages>1"
                                                        ng-class="{'active': page_no == total_pages}">
                                                        <a ng-click="searchResults(page_length*(total_pages-1), page_length*total_pages, total_pages)">
                                                            {{total_pages}}
                                                        </a>
                                                    </li>
                                                    <li id="datatable2_next" class="paginate_button next"
                                                        ng-class="{'disabled': page_no == total_pages}">
                                                        <a ng-click="searchResults(page_length*(page_no), page_length*(page_no+1), page_no+1)">Next</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- END DATATABLE 2 -->

        </div>
</span>

